.company_overview_items{
  margin: 0 100px 0 100px;
}

.company_overview_title{
  font-size: 30px;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr{
  border-top: 1px solid #ACACAC;
  border-bottom: 1px solid #ACACAC;
}

tr th,
tr td{
  padding: 20px 20px;
  text-align: left;
  vertical-align: top;
}

tr th{
  width: 20%;
  font-weight: bold;
  background: #fff1fd;
}