#item-image {
  width: 400px;
  height: 400px;
  margin-left: 100px;
}

.item-detail{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

ul{
  /* margin-left: 20px; */
  text-indent: -2em;
  padding-left: 2em;
}

li{
  list-style-type: disc;
  list-style-position: inside;
  /* padding-left: 1em */
}

.click_here_for_details,
.seller_name,
.stock_status{
  color: rgb(88, 205, 255)
}

.item-detail-left{
  display: flex;
}

.about_this_product{
  margin-left: 30px;
  
}

.order-menu{
  margin-right: 40px;
  border: 1px solid gray;
}

.stock{
  color:green;
  font-size: 24px;
}

.add_to_cart{
  background-color: gold;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.buy_now{
  background-color: orange;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.order-price{
  font-size: 30px;
}

.goods-name{
  font-size: 36px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.goods-price{
  font-size: 20px;
  margin-left: 30px;
}

.point{
  margin-left: 30px;
}

.item-combo,
.customers-viewed-items,
.relation-items,
.important-notice{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  border-top: 1px solid gray;
  padding-top: 20px;
  /* border: 1px solid black; */
}

.combo-goods-list{
  display: flex;
  justify-content: space-around;
}

.combo-goods-name,
.combo-goods-price{
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  /* border: 1px solid black; */
}

.ingredients,
.directions{
  font-size: 20px;
  font-weight: normal;
}

.ingredients-text,
.directions-text{
  font-size: 15px;
  font-weight: normal;
  padding-left: 20px;
}