.header {
  height: 10vh;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 217, 222);
}

.btn1{
  background: #fff;
  border: solid 1px #000;
}

.btn2{
  background: #f5f5f5;
  border: solid 1px #000;
}

img {
  width:150px;
  height: auto;

}

a {
  text-decoration: none;
  color: black;
}

.title {
  color: white;
  font-size: 30px;
  font-family: 'Segoe Script';
}

.addressee-lower {
  font-weight: bold;
}

.account-list {
  font-weight: bold;
}

.order-history {
  font-weight: bold;
}

.header-lower {
  display: flex;
  justify-content: space-around;
}

.column{
  display: flex;
  justify-content: space-around;
}

.lower-content {
  font-weight: bold;
}

.campaign-banner{
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  height: 300px;
  background-color: rgb(201, 255, 255);
  margin-top: 30px;
}

.campaign-name{
  font-size: 30px;
}

.campaign-period{
  font-size: 20px;
}

.campaign-info-lists{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.campaign-info{
  height: 220px;
  width: 280px;
  text-align: center;
  background-color: aquamarine;
}

.goods-list{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.goods{
  margin: 2%;
  /* background-color:  */
  /* border: 1px solid black; */
}

/**************************
      画像縦170px固定
**************************/
.neri_png{
  width: 169.42px;
  height: 170px;
}

.diet_png{
  width: 150.45px;
  height: 170px;
}

.bigan_png{
  width: 154.69px;
  height: 170px;
}

.powder_png, .baby_png, .loose_png{
  width: 170px;
  height: 170px;
}

.concealer_png{
  width: 170px;
  height: 170px;
}

.byura_png{
  width: 155.93px;
  height: 170px;
}

.eye_png{
  width: 176.48px;
  height: 170px;
}

.oil_png{
  width: 170px;
  height: 170px;
}

.biganki_png{
  width: 153.82px;
  height: 170px;
}

.mani_png{
  width: 175.48px;
  height: 170px;
}

.seikan_png{
  width: 136.63px;
  height: 170px;
}

.sup_png{
  width: 150.88px;
  height: 170px;
}

.hyaluronic_png{
  width: 127.93px;
  height: 170px;
}

.collagen_png, .calcium_png, .placenta_png{
  width: 112.88px;
  height: 170px;
}

